  
    body{
        margin: 0;
    }
    
    #top-bar{
        display: block;
    }
    #top-bar{
        background-color: rgb(119, 10, 221);
        overflow: hidden;
        height: 45px;
        width: 100%;
        text-align: right;
        position: fixed;
        top: 0;
    }
    .top-bar-align{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .top-element{
        text-decoration: none;
        color: white;
        font-weight: 900;
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 18px;
        position: relative;
        top: 8px;
    }
    
    #top-bar span a img{
        padding-right: 5px;
        position: relative;
        top: 5px;
    }

        
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: rgb(119, 10, 221);
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

   
    .nav-bar .desktop-view{
        display: block;
    }
    
    .nav-bar{
        height: 70px;
        width: 100%;
        background-color:white;
        position: fixed;
        top: 45px;
        padding: 15px 0;
        display: inline-flex;
        justify-content: center;
    }
    
    .nav-bar .mobile-view{
        display: none;
    }
    
    .nav-bar ul li{
        list-style: none;
        float: left;
    }

    
    .nav-bar ul{
        display: block;
    }
    
    .nav-bar ul li a{
        text-decoration: none;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        letter-spacing: .5px;
        padding: 0px 12px;
    }
    
    .nav-bar ul li a:hover{
        color: rgb(119, 10, 221);
    }
    
    .first-block{
        margin-top: 145px;
        width: 100%;
    }
    
    .first-block img{
        width: 100%;
        height: 100%;
    }
    
    .scroll{
        background-color: rgb(232, 237, 243);
        height: 55px;
        margin: 0px;
        width: 100%;
    }
    
    .scroll p{
        color: rgb(119, 10, 221);
        font-size: 16px;
        font-weight: 600;
        margin: 0px;
        padding-top: 14px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .scroll p b{
        color: rgb(119, 10, 221);
        font-weight: 900;
    }
    
    .second-block{
        margin-top: 50px;
    }
    
    .second-block p{
        font-size: 18px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        text-align: center;
        margin-bottom: 10px;
        color: rgb(102, 95, 95);
    }
    
    .second-block h1{
        font-size: 46px;
        font-weight: 700;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        justify-content: center;
        text-align: center;
        color: rgb(102, 95, 95);
        margin-top:0px ;
        margin-bottom: 0px;
    }
    
    .second-block hr{
        width: 130px;
        height: 2px;
        background-color: rgb(119, 10, 221);
        border-width: 0;
        color: rgb(119, 10, 221);
    }
    
    .card-holder{
        width: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        column-gap: 30px;
        row-gap: 30px;
    }
    
    .card{
        width: 350px;
        min-width: 300px;
        height: 330px;
        box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.2);
        text-align: center;
    }
    
    .card img{
        margin-top: 50px;
        margin-bottom: 0;
    }
    
    .card h4{
        font-size: 22px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        margin-top: 2px;
        padding-bottom: 5px;
        margin-bottom: 0px;
        text-align: center;
        padding-left: 40px;
        padding-right:40px ;
    }
    
    .card p{
        text-align: center;
        padding-left: 60px;
        padding-right:60px;
        font-size: 17px;
        color: rgb(133, 124, 124);
        font-weight: 490;
        margin-top: 40px;
    }

    .card hr{
        width: 100px;
        height: 3px;
        background-color: rgb(119, 10, 221);
        border-width: 0;
        color: rgb(119, 10, 221);
    }
    
    .third-block{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        color: white;
    }

    .third-card-background{
        background-color: rgb(119, 10, 221);
    }
    
    .third-card-holder{
        width: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        column-gap: 40px;
        row-gap: 10px;
        margin-top: 50px;
        padding-top: 70px;
    }

    .third-card-holder p{
        color: white;
    }
    
    .third-card{
        width: 300px;
        height: 180px;
        text-align: center;
    }
    
    .third-card h1{
        color: white;
    }
    
    .third-card p{
        text-align: center;
        padding-left: 60px;
        padding-right:60px;
        font-size: 18px;
        font-weight: 600;
        margin-top: 20px;
    }
    
    .vdo{
        width: 100%;
    }
    .youtube-vdo p{
        font-size: 16px;
        line-height: 1.3;
    }
    
    
    .fifth-block{
        background-color: whitesmoke;
        padding-bottom: 60px;
    }
    
    .btn{
        text-align: center;
        margin-top: 50px;
    }
    
    .btn button{
        width: 180px;
        height: 50px;
        background-color: rgb(202, 201, 201);
        margin-right: 20px;
        border: none;
        color: black;
        font-size: 20px;
        font-weight: 540;
        letter-spacing: .5px;
    }
    
    
    
    #firstBtn
    {
    background-color: rgb(119, 10, 221);
    color: white;
    }
    
    
    table{
        width: 100%;
        margin-top: 40px;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    
    table,tr,th,td{
        border: 1px solid rgb(184, 174, 174);
        border-collapse: collapse;
        padding: 5px 15px;
        font-size: 18px;
        color: rgb(71, 66, 66);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    th{
        font-weight: 500;
        padding-top: 30px;
        padding-bottom: 30px;
        color: rgb(78, 71, 71);
        font-size: 17px;
    }
    
    #firstTable{
        display: block;
    }
    
    #secondTable{
        display: none;
    }
    
    #thirdTable{
        display: none;
    }
    
    
    .sixth-block{
        background-color: white;
        padding-bottom: 0;
    }
    
    .sixth-block h1{
        padding-top: 30px;
    }
    
    
    #firstCityBtn
    {
    background-color: rgb(119, 10, 221);
    color: white;
    }
    
    #firstCity{
        display: block;
    }
    
    #secCity{
        display: none;
    }
    
    #thirdCity{
        display: none;
    }
    
    .change-style-align{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .change-style hr{
        margin-bottom: 60px;
    }
    
    .change-style img{
        display: inline-block;
        width: 46%;
    }
    
    .change-style .side-content{
        display: inline-block;
        vertical-align: top;
        width: 49%;
        padding-left: 25px;
    }
    
    .change-style .side-content p{
        text-align: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(54, 50, 50);
        font-weight: 400;
        line-height: 1.5;
    }
    
    .change-style .side-content ul li{
        font-size: 18px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        list-style: circle;
    }
    
    .seventh-block{
        background-color: whitesmoke;
        padding-bottom: 60px;
    }
    
    .seventh-block p{
        padding-top: 50px;
    }
    
    .seventh-card-holder{
        
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        background-color: whitesmoke;
        margin-top: 0px;
        padding-top: 50px;
    }
    
    .seventh-card-holder p{
        color: black;
        font-size: 20px;
        font-weight: 500;
        padding-top: 0;
    }
    
    .seventh-card-holder h1{
        color: rgb(119, 10, 221);
    }
    
    .last-card{
        height: 260px;
        width: 360px;
        min-width: 300px;
    }
    
    .last-card img{
        margin-top: 30px;
    }
    
    .last-card p{
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 20px;
    }
    
    .last-card p{
        text-align: left;
    }
    
    .last-card-holder{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: auto auto auto;
        row-gap: 25px;
        column-gap: 30px;
        margin-top: 20px;
        margin-bottom: 120px;
    }
    
    .center{
        grid-column: 2/3;
    }
    
    .footer{
        color: white;
        width: 100%;
        background-color:rgb(44, 40, 40);
        padding: 15px 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .footer-center{
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .footer-content{
        display: flex;
        justify-content: center;        
    }
    
    .footer-text{
        margin-left: 60px;
    }
    
    .footer-text p{
        font-size: 12px;
        color: rgb(206, 201, 201);
        display: block
    }
    
    .footer-text h4{
        margin-bottom: 5px;
        display: block;
    }
    
    .footer-line{
        color:  rgb(206, 201, 201);
        height: 1px;
        background-color: rgb(206, 201, 201);
        border-width: 0;
    }
    
    .footer p{
        color: rgb(145, 136, 136);
        font-weight: bold;
    }    


    
    @media only screen and (max-width:1000px) {


        #top-bar{
            display: none;
        }
        .nav-bar{
            width: 100%;
            height: 40px;
            padding: 30px 0;
            position: fixed;
            top: 0;
            justify-content: start;
        }
    
        .nav-bar .desktop-view{
            display: none;
        }
    
        .nav-bar .mobile-view{
            display: block;
        }
    
        .nav-bar .mobile-view img{
            width: 230px;
            padding-left: 10px;
    
        }

        .logo{
            height: 60px;
            width: 300px;
        }
    
        .nav-bar ul{
            display: none;
        }

        .nav-bar-align{
            position: relative;
            width: 768px;
            margin-left: auto;
            margin-right: auto;
        }

        .nav-icon{
            position: absolute;
            top: 10px;
            right: 50px;
        }


       
        .first-block{
            width: 100%;
            margin-top: 100px;
            overflow: hidden;
        }
    

        .card-holder ,.vdo{
            max-width: 920px;
            margin-left: auto;
            margin-right: auto;
            grid-template-columns: auto auto;
            justify-content: center;
        }
        
        
    .card{
        width: 300px;
        min-width: 250px;
        height: 310px;
    }
    
    .third-card{
        width: 240px;
    }
    
    .third-card-holder{
        justify-content: center;
        column-gap: 0;
    }
  
        
        .last-card-holder{
            max-width: 920px;
            margin-left: auto;
            margin-right: auto;
            grid-template-columns: auto auto;
            justify-content: center;
        }
        
    }
     
    
    @media only screen and (max-width: 690px){



        #top-bar{
            display: none;
        }
        .nav-bar{
            width: 100%;
            height: 40px;
            padding: 30px 0;
            position: fixed;
            top: 0;
            justify-content: start;
        }
    
        .nav-bar .desktop-view{
            display: none;
        }
    
        .nav-bar .mobile-view{
            display: inline-flex;

        }
    
        .nav-bar .mobile-view img{
            width: 230px;
            padding-left: 10px;
    
        }

        .logo{
            width: 200px;
            height: 50px;
        }
    
        .nav-icon{
            font-size: 25px;
        }
        .nav-bar ul{
            display: none;
        }

        .nav-bar-align{
            position: relative;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

        .nav-icon{
            position: absolute;
            right: 0;
            top: -3px;
        }



        .first-block{
            width: 100%;
            margin-top: 100px;
            overflow: hidden;
        }
    
        .first-block img{
            width: 100%;
            height: 220px;
        }
    
        .scroll{
            height: 50px;
            margin-top: 20px;
        }
        
        .scroll p{
            font-size: 14px;
        }
            
        .second-block p{
            font-size: 16px;
            margin-bottom: 8px;
        }
        
        .second-block h1{
            font-size: 30px;
        }
        
        .second-block hr{
            width: 80px;
            height: 2.5px;
        }
    
        .card-holder{
            width: 100%;
            padding-top: 40px;
            display: grid;
            grid-template-columns: auto;
            row-gap: 30px;
            justify-items: center;
        }
        .card, .last-card{
            width: 94%;
            height: 300px;
        }
        
        .card h4{
            font-size: 20px;
            padding-left: 20px;
            padding-right:20px ;
        }
        
        .card p{
            padding-left: 40px;
            padding-right:40px;
            font-size: 16px;
            margin-top: 30px;
        }
        
        .card hr{
            height: 2.5px;
        }
    
        .third-block{
            width: 100%;
            color: white;
        }
        
        .third-card-holder{
            display: grid;
            grid-template-columns: auto;
            row-gap: 15px;
            width: 100%;
            margin-top: 20px;
            padding-top: 40px;
            padding-bottom: 30px;
        }
        
        .third-card-holder p{
            font-weight: 400;
            font-size: 16px;
            letter-spacing: .5px;
            padding-right: 20px;
            padding-left: 20px;
        }
        
        .third-card{
            width: 100%;
            height: 150px;
            margin-bottom: 30px;
        }
        
        .third-card h1{
            font-size: 50px;
            font-weight: 700;
        }
        
        .third-card p{
            text-align: center;
            padding-left: 60px;
            padding-right:60px;
            font-size: 18px;
            font-weight: 690;
            margin-top: 20px;
        }
    
        
    .vdo{
        width: 100%;
        justify-content: center;
    }
    .youtube-vdo p{
        font-size: 16px;
        line-height: 1.3;
    }
    
    iframe{
        width: 100%;
    }
        
        .btn button{
            width: 100px;
            height: 35px;
            margin-right: 5px;
            font-size: 14px;
    
        }
    
        .table-align{
            max-width: 94%;
            margin-left: auto;
            margin-right: auto;
        }
    
    
    .sixth-block{
        padding-bottom: 0;
    }
    
    .change-style-align{
        max-width: 94%;
        margin-left: auto;
        margin-right: auto;
    }
        
    .change-style img{
        width: 100%;
    }
    
    .change-style .side-content{
        width: 100%;
    }
    
    .change-style .side-content p{
        font-size: 18px;
    }
    
    .change-style .side-content ul li{
        font-size: 16px;
    }
    
        .last-card{
            width: 100%;
            height: 260px;
        }
        .last-card p{
            padding-left: 30px;
            padding-right: 10px;
            font-size: 16px;
        } 
        
        .last-card-holder{
            width: 100%;
            max-width: 94%;
            margin-left: auto;
            margin-right: auto;
            display: grid;
            grid-template-columns: auto;
        }
        
        .center{
            grid-column: 1;
        }  
        
        .footer{
            color: white;
            width: 90%;
            background-color:rgb(44, 40, 40);
            padding: 15px 5%;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
        
        .footer-content{
            display: block;
        }
        
        .footer-text{
            margin-left: 0px;
        }
    
    }



    @media only screen and (min-width: 768px){

        .nav-bar ul li a{
            font-size: 13.5px;
            letter-spacing: .3px;
            padding: 0px 7px;
        }

        
    .nav-bar-align{
        width: 100%;
        max-width: 920px;
        margin-left: auto;
        margin-right: auto;   
        display: inline-flex; 
    }

    .card-holder ,.vdo{
        max-width: 920px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .card{
        width: 300px;
        min-width: 250px;
        height: 310px;
    }
       
    .card h4{
        font-size: 20px;
    }
    
    .card p{
        padding-left: 30px;
        padding-right:30px;
        font-size: 16px;
    }
    
    .third-card-holder{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
  
    .third-card{
        width: 300;
    }

    .third-card p{
        padding-left: 40px;
        padding-right:40px;
    }
    
    table{
        max-width: 920px;
        margin-left: auto;
        margin-right: auto;
    }
    
    table,tr,th,td{
        border: 1px solid rgb(184, 174, 174);
        border-collapse: collapse;
        padding: 5px 15px;
        font-size: 16px;
        color: rgb(71, 66, 66);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    th{
        font-weight: 500;
        padding-top: 30px;
        padding-bottom: 30px;
        color: rgb(78, 71, 71);
        font-size: 17px;
    }
    
    
    
    .change-style-align{
        max-width: 920px;
        margin-left: auto;
        margin-right: auto;
    }

    .last-card-holder{
        justify-content: center;
    }
    
    .footer-center{
        max-width: 920px;
        margin: 0 auto;
    }
    
    .footer-content img{
        width: 80px;
    }
        
    }


@media only screen and (min-width: 1200px){
    
    body{
        margin: 0;
    }
    
    #top-bar{
        display: block;
    }
    #top-bar{
        background-color: rgb(97, 39, 136);
        overflow: hidden;
        height: 45px;
        width: 100%;
        text-align: right;
        position: fixed;
        top: 0;
    }
    .top-bar-align{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .top-element{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight: 900;
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 18px;
        position: relative;
        top: 8px;
    }
    
    #top-bar span a img{
        padding-right: 5px;
        position: relative;
        top: 5px;
    }


    .nav-bar-align{
        width: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;   
        display: inline-flex; 
    }
    
    .nav-bar .desktop-view{
        display: block;
    }
    
    .nav-bar{
        height: 70px;
        width: 100%;
        background-color:white;
        position: fixed;
        top: 45px;
        padding: 15px 0;
        display: inline-flex;
        justify-content: center;
    }
    
    .nav-bar .mobile-view{
        display: none;
    }
    
    .nav-bar ul li{
        list-style: none;
        float: left;
    }

    
    .nav-bar ul{
        display: block;
    }
    
    .nav-bar ul li a{
        text-decoration: none;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        letter-spacing: .5px;
        padding: 0px 12px;
    }
    
    .nav-bar ul li a:hover{
        color: rgb(155, 66, 214);
    }
    
    .first-block{
        margin-top: 145px;
        width: 100%;
    }
    
    .first-block img{
        width: 100%;
        height: 100%;
    }
    
    .scroll{
        background-color: rgb(185, 207, 233);
        height: 55px;
        margin: 0px;
        width: 100%;
    }
    
    .scroll p{
        color: rgb(97, 39, 136);
        font-size: 16px;
        font-weight: 600;
        margin: 0px;
        padding-top: 14px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .scroll p b{
        color: rgb(97, 39, 136);
        font-weight: 900;
    }
    
    .second-block{
        margin-top: 50px;
    }
    
    .second-block p{
        font-size: 18px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        text-align: center;
        margin-bottom: 10px;
        color: rgb(102, 95, 95);
    }
    
    .second-block h1{
        font-size: 46px;
        font-weight: 700;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        justify-content: center;
        text-align: center;
        color: rgb(102, 95, 95);
        margin-top:0px ;
        margin-bottom: 0px;
    }
    
    .second-block hr{
        width: 130px;
        height: 2px;
        background-color: rgb(119, 10, 221);
        border-width: 0;
        color: rgb(119, 10, 221);
    }
    
    .card-holder{
        width: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        column-gap: 30px;
        row-gap: 30px;
    }
    
    .card{
        width: 350px;
        min-width: 300px;
        height: 330px;
        box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.2);
        text-align: center;
    }
    
    .card img{
        margin-top: 50px;
        margin-bottom: 0;
    }
    
    .card h4{
        font-size: 22px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        margin-top: 2px;
        padding-bottom: 5px;
        margin-bottom: 0px;
        text-align: center;
        padding-left: 40px;
        padding-right:40px ;
    }
    
    .card p{
        text-align: center;
        padding-left: 60px;
        padding-right:60px;
        font-size: 17px;
        color: rgb(133, 124, 124);
        font-weight: 490;
        margin-top: 40px;
    }

    .card hr{
        width: 100px;
        height: 3px;
        background-color: rgb(97, 39, 136);
        border-width: 0;
        color: rgb(119, 10, 221);
    }
    
    .third-block{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        color: white;
    }

    .third-card-background{
        background-color: rgb(97, 39, 136);
    }
    
    .third-card-holder{
        width: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        column-gap: 40px;
        row-gap: 10px;
        margin-top: 50px;
        padding-top: 70px;
    }

    .third-card-holder p{
        color: white;
    }
    
    .third-card{
        width: auto;
        height: 180px;
        text-align: center;
    }
    
    .third-card h1{
        color: white;
    }
    
    .third-card p{
        text-align: center;
        padding-left: 60px;
        padding-right:60px;
        font-size: 18px;
        font-weight: 600;
        margin-top: 20px;
    }
    
    .vdo{
        width: 100%;
    }
    .youtube-vdo p{
        font-size: 16px;
        line-height: 1.3;
    }
    
    
    .fifth-block{
        background-color: whitesmoke;
        padding-bottom: 60px;
    }
    
    .btn{
        text-align: center;
        margin-top: 50px;
    }
    
    .btn button{
        width: 180px;
        height: 50px;
        background-color: rgb(202, 201, 201);
        margin-right: 20px;
        border: none;
        color: black;
        font-size: 20px;
        font-weight: 540;
        letter-spacing: .5px;
    }
    
    
    
    #firstBtn
    {
    background-color: rgb(119, 10, 221);
    color: white;
    }
    
    
    table{
        width: 100%;
        margin-top: 40px;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    
    table,tr,th,td{
        border: 1px solid rgb(184, 174, 174);
        border-collapse: collapse;
        padding: 5px 15px;
        font-size: 18px;
        color: rgb(71, 66, 66);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    th{
        font-weight: 500;
        padding-top: 30px;
        padding-bottom: 30px;
        color: rgb(78, 71, 71);
        font-size: 17px;
    }
    
    #firstTable{
        display: block;
    }
    
    #secondTable{
        display: none;
    }
    
    #thirdTable{
        display: none;
    }
    
    
    .sixth-block{
        background-color: white;
        padding-bottom: 0;
    }
    
    .sixth-block h1{
        padding-top: 30px;
    }
    
    
    #firstCityBtn
    {
    background-color: rgb(97, 39, 136);
    color: white;
    }
    
    #firstCity{
        display: block;
    }
    
    #secCity{
        display: none;
    }
    
    #thirdCity{
        display: none;
    }
    
    .change-style-align{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .change-style hr{
        margin-bottom: 60px;
    }
    
    .change-style img{
        display: inline-block;
        width: 46%;
    }
    
    .change-style .side-content{
        display: inline-block;
        vertical-align: top;
        width: 49%;
        padding-left: 25px;
    }
    
    .change-style .side-content p{
        text-align: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(54, 50, 50);
        font-weight: 400;
        line-height: 1.5;
    }
    
    .change-style .side-content ul li{
        font-size: 18px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        list-style: circle;
    }
    
    .seventh-block{
        background-color: whitesmoke;
        padding-bottom: 60px;
    }
    
    .seventh-block p{
        padding-top: 50px;
    }
    
    .seventh-card-holder{
        
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        background-color: whitesmoke;
        margin-top: 0px;
        padding-top: 50px;
    }
    
    .seventh-card-holder p{
        color: black;
        font-size: 20px;
        font-weight: 500;
        padding-top: 0;
    }
    
    .seventh-card-holder h1{
        color: rgb(125, 46, 179);
    }
    
    .last-card{
        height: 260px;
        width: 360px;
        min-width: 300px;
    }
    
    .last-card img{
        margin-top: 30px;
    }
    
    .last-card p{
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 20px;
    }
    
    .last-card p{
        text-align: left;
    }
    
    .last-card-holder{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: auto auto auto;
        row-gap: 25px;
        column-gap: 30px;
        margin-top: 20px;
        margin-bottom: 120px;
    }
    
    .center{
        grid-column: 2/3;
    }
    
    .footer{
        color: white;
        width: 100%;
        background-color:rgb(44, 40, 40);
        padding: 15px 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .footer-center{
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .footer-content{
        display: flex;
        justify-content: center;        
    }
    
    .footer-text{
        margin-left: 60px;
    }
    
    .footer-text p{
        font-size: 12px;
        color: rgb(206, 201, 201);
        display: block
    }
    
    .footer-text h4{
        margin-bottom: 5px;
        display: block;
    }
    
    .footer-line{
        color:  rgb(206, 201, 201);
        height: 1px;
        background-color: rgb(206, 201, 201);
        border-width: 0;
    }
    
    .footer p{
        color: rgb(145, 136, 136);
        font-weight: bold;
    }    
       

}

